.book
  flex-grow: 1
  display: flex
  margin-top: 20px
  &-cover
    width: 200px
    height: 230px
    background-image: url(img-dir'/no-cover-placeholder.jpg')
    background-size: cover
  &-content
    width: 75%
    padding 5%
    