.form 
  width: 80%;
  margin: 0 auto;
  font-size: 16px
label
  font-size: 16px;
  margin: 30px 0 30px 0
  display: inline-block

input
select
  box-sizing: border-box
  display: block
  background-color: transparent
  color: rgba(0,0,0,.87)
  border: none
  border-bottom: border-color
  outline: 0
  width: 80%
  padding: 0
  box-shadow: none
  border-radius: 0
  font-size: 16px
  font-family: inherit
  line-height: inherit
  background-image: none
  &:focus
    border-bottom: 1px solid #4285F4
    box-shadow: 0 1px 0 0 #4285F4

label.image
  width: 75px
  height: 75px
  background: red
  border-radius: 50%
  cursor: pointer

input#image
  display: none
